$dark: #1a1a1a;
$medium-gray: #ddd;
$light-gray: #777;

$background-darker: #16171a;
$background-dark: #202329;
$background: #202329;
$background-light: #2f3033;
$background-lighter: #525252;
$primary-red: #e53935;
$primary-green: #00a827;
$primary-green-light: #04d133;
$font-color: #ddd;
$font-color-light: #aaa;
