@import './../../variables/colors';

@mixin responsive-styling(
  $character-info-left,
  $character-info-width,
  $font-size,
  $header-height
) {
  $character-detail-padding: calc(
    #{$character-info-left} + #{$character-info-width} +
      (#{$character-info-left} / 2)
  );
  $small-font-size: $font-size / 2;

  .character-detail-header,
  .episode-panel-wrapper {
    padding-left: $character-detail-padding;
  }
  .character-detail-header {
    height: $header-height;
    .info-wrapper {
      .name {
        font-size: $font-size;
      }
      .gender {
        font-size: $small-font-size;
      }
    }
  }
  .character-info {
    width: $character-info-width;
    left: $character-info-left;
    .info-image {
      width: $character-info-width;
      height: $character-info-width;
    }
    .info-row {
      font-size: $small-font-size;
    }
  }
  .episode-panel-wrapper {
    .episode-panel-header {
      font-size: $font-size;
    }
  }
}

.character-detail-page {
  position: relative;
  .character-detail-header {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-image: url(./../../assets/images/detail-header.JPG);
    .back-button {
      position: absolute;
      right: 50px;
      top: 50%;
      transform: translateY(-50%);
      width: 70px;
      height: 70px;
      font-size: 2em;
    }
    .info-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: left;
      .name,
      .gender {
        text-align: left;
      }
      .name {
        font-weight: bold;
        color: $background;
      }
      .gender {
        padding-bottom: 5px;
        color: $light-gray;
        color: $primary-green;
        font-style: italic;
      }
    }
  }
  .character-info {
    position: absolute;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    top: 100px;
    background: $background;
    .info-image {
      background-repeat: round;
      position: relative;
      .status-tag {
        position: absolute;
        bottom: 10px;
        border-radius: 0;
        right: 0;
      }
    }
    .info-row {
      padding: 10px 10px;
      border-bottom: 1px solid $dark;
    }
  }
  .episode-panel-wrapper {
    padding-right: 50px;
    margin-top: 20px;
    .episode-panel {
      .episode-panel-header {
        border-bottom: 1px solid $dark;
      }
      .episode-list {
        .item-content {
          .watch-btn {
            width: 50px;
            height: 50px;
            font-size: 20px;
            margin-left: 20px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 439px) {
    @include responsive-styling(3%, 300px, 2em, 100px);
    .character-detail-header {
      align-items: flex-start;
      padding-left: 3%;
      padding-top: 10px;
      .back-button {
        width: 50px;
        height: 50px;
        right: 3%;
        font-size: 1.5em;
      }
      .info-wrapper {
        .name {
          font-size: 1.5em;
        }
      }
    }
    .character-info {
      top: 80px;
      width: 300px;
      left: calc((100% - 300px) / 2);
    }
    .episode-panel-wrapper {
      padding-left: 3%;
      padding-right: 3%;
      padding-top: 450px;
    }
  }
  @media only screen and (min-width: 440px) and (max-width: 1024px) {
    @include responsive-styling(6%, 200px, 2em, 100px);
    .character-detail-header {
      padding-left: 6%;
      .back-button {
        width: 50px;
        height: 50px;
        font-size: 1.5em;
      }
      .info-wrapper {
        .name {
          font-size: 1.5em;
        }
      }
    }
    .character-info {
      top: 105px;
      width: 400px;
      left: calc((100% - 400px) / 2);
      .info-image {
        margin-left: 100px;
      }
    }
    .episode-panel-wrapper {
      padding-left: 6%;
      padding-top: 350px;
    }
  }
  @media only screen and (min-width: 1024px) {
    @include responsive-styling(10%, 350px, 3em, 200px);
  }
}
