@import './../../variables/colors';
@import './../../variables/constants';

.default-layout {
  min-height: 100vh;
  background: $background;
  color: $font-color;
}

.ant-layout-header {
  height: $header-height;
  line-height: $header-height;
  background: $background-darker;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header-title {
    font-family: RickAndMorty;
    font-size: 28px;
    color: $primary-green;
    user-select: none;
  }
  @media only screen and (max-width: 324px) {
    height: 75px;
    padding: 0 25px;
    .header-title {
      display: none;
    }
    .header-search {
      width: 100%;
    }
  }
  @media only screen and (min-width: 325px) and (max-width: 400px) {
    height: 75px;
    padding: 0 25px;
    .header-title {
      font-size: 18px;
    }
    .header-search {
      font-size: 11px;
      width: 120px;
    }
  }
  @media only screen and (min-width: 401px) and (max-width: 600px) {
    height: 75px;
    padding: 0 25px;
    .header-title {
      font-size: 18px;
    }
    .header-search {
      font-size: 14px;
      width: 150px;
    }
  }
}
