@import './../../variables/colors';

.default-back-top {
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.65);
  color: $primary-green;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  &:hover {
    background: rgba(0, 0, 0, 0.85);
    color: $primary-green-light;
  }
}
