@import './../../variables/colors';
@import './../../variables/constants';

.character-list-page-wrapper {
  overflow: auto;
  height: calc(100vh - #{$header-height});
  padding-top: 20px;
  @media only screen and (max-width: 600px) {
    height: calc(100vh - 75px);
  }
}

.character-card {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  position: relative;
  overflow: hidden;
  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: round;
  }
  .id {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
    color: $primary-green;
    font-family: RickAndMorty;
    z-index: 2;
    font-size: 17px;
    border-bottom-left-radius: 50%;
    background: rgba(26, 26, 26, 0.8);
  }
  .info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -68px;
    background: rgba(26, 26, 26, 0.8);
    color: white;
    transition: 0.5s;
    font-size: 14px;
    > .ant-row {
      height: 20px;
      margin: 4px 0;
      padding-left: 12px;
      .value {
        text-overflow: ellipsis;

        /* Needed to make it work */
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
  &:hover {
    .id {
      background: rgba(26, 26, 26, 0.95);
    }
    .background {
      filter: blur(1.8px);
    }
    .info {
      background: rgba(26, 26, 26, 0.95);
      bottom: 0;
    }
  }
  @media only screen and (max-width: 600px) {
    width: 150px;
    height: 150px;
    .info {
      font-size: 10px;
    }
  }
}
