@import './variables/colors';

button.ant-btn {
  color: $primary-green;
  border-color: $primary-green;
  background: $background-dark;
  &:hover,
  &:active,
  &:focus {
    color: $primary-green-light;
    border-color: $primary-green-light;
    background: $background-dark;
  }
  &.secondary {
    color: $background-dark;
    border-color: $background-dark;
    background: $primary-green;
    &:hover,
    &:active,
    &:focus {
      border-color: $background;
      background: $primary-green-light;
    }
  }
}

div.ant-list {
  color: $font-color-light;
  .ant-list-item-meta-title {
    color: white;
  }
  .ant-list-item-meta-description {
    color: $font-color-light;
  }
}

div.ant-spin-blur {
  opacity: 0.3;
}

span.ant-spin-dot {
  i.ant-spin-dot-item {
    background-color: $primary-green !important;
  }
}

div.ant-empty {
  color: $font-color;
  @media screen and (max-width: 600px) {
    .ant-empty-image {
      height: 20px;
    }
  }
}

.ant-select {
  &.ant-select-open {
    .ant-select-selection {
      border-color: $primary-green-light;
      box-shadow: 0 0 0 2px rgba(4, 209, 51, 0.2);
    }
  }
  .ant-select-selection {
    color: $font-color;
    background-color: $background-dark;
    border-color: $primary-green;
    &:hover,
    &:active,
    &:focus {
      border-color: $primary-green-light;
    }
    .ant-select-arrow {
      color: $primary-green;
      &:hover {
        color: $primary-green-light;
      }
    }
  }
}

div.ant-select-dropdown {
  background-color: $background-dark;
  .ant-select-dropdown-menu-item {
    color: $font-color;
    &:hover {
      background: $primary-green-light;
    }
    &.ant-select-dropdown-menu-item-selected {
      background: $primary-green;
    }
  }
}

.ant-message {
  .ant-message-notice-content {
    color: $font-color;
    background: $background-dark;
    .ant-message-error .anticon {
      color: $primary-red;
    }
  }
}

div.ant-back-top {
  @media screen and (max-width: 480px) {
    right: 30px;
    bottom: 40px;
  }
}
