@import './variables/colors';

@font-face {
  font-family: RickAndMorty;
  src: url(./assets/fonts/get_schwifty.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: $background-light;
}

::-webkit-scrollbar-thumb {
  background: $primary-green;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-green-light;
}
