@import './../../variables/colors';

@mixin responsive-styling($font-size) {
  font-size: $font-size;
  .message-title {
    font-size: $font-size;
  }
  .error-row {
    .morty-face {
      height: $font-size;
    }
    .error-letter {
      font-size: $font-size;
    }
  }
  .home-redirect {
    font-size: $font-size / 2;
  }
}

.not-found-page {
  height: 100vh;
  background-image: url('./../../assets/images/error-background.png');
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-family: RickAndMorty;
  color: $primary-green;
  text-align: center;
  .message-title {
    font-size: 100px;
  }
  .error-row {
    display: flex;
    align-items: center;
    justify-content: center;
    .morty-face {
      height: 200px;
    }
    .error-letter {
      padding: 0 8px;
      font-size: 200px;
    }
  }
  .home-redirect {
    position: absolute;
    font-size: 32px;
    bottom: 40px;
    right: 60px;
  }
  @media only screen and(max-width: 400px) {
    @include responsive-styling(40px);
  }
  @media only screen and(min-width: 401px) and (max-width: 800px) {
    @include responsive-styling(50px);
  }
}
